apiVersion: v1
kind: Namespace
metadata:
  name: genai
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: search
---
apiVersion: v1
kind: Namespace
metadata:
  name: storage
